<div class="container">
    <h2>Add Department</h2>
    <form [formGroup]="departmentForm" (submit)="add(departmentForm)">
        <div class="username">
            <div class="field" style="margin-right: 100px;">
                <mat-form-field appearance="outline">
                    <input matInput
                           formControlName="name"
                           placeholder="Name"
                    />
                    @if (departmentForm.get('name')?.invalid || departmentForm.get('name')?.touched ) {
                        <mat-error>
                            Name is required.
                        </mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="field">
                <mat-form-field appearance="outline">
                    <input matInput
                           formControlName="code"
                           placeholder="Code"
                    />
                    @if (departmentForm.get('code')?.invalid || departmentForm.get('code')?.touched ) {
                        <mat-error>
                            Code is required.
                        </mat-error>
                    }
                </mat-form-field>
            </div>
        </div>
        <div class="field">
            <mat-form-field appearance="outline">
                <input matInput
                       formControlName="description"
                       placeholder="Description"
                />
                @if (departmentForm.get('description')?.invalid || departmentForm.get('description')?.touched ) {
                    <mat-error>
                        Description is required.
                    </mat-error>
                }
            </mat-form-field>
        </div>


        <button mat-flat-button [disabled]="departmentForm.invalid" class="button" >Save</button>
    </form>
</div>
