.employee-card {
    max-width: 65%;
    margin: 24px auto;
}
mat-card-header {
    height: 120px;
}
mat-card-title {
    margin-left: 50px;
}
mat-card-subtitle {
    margin-left: 50px;
}
.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.label {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}
