table {
    width: 100%;
    background: #f6f6f6;
    left: 15%;
}
.container {
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;  /* center horizontally */
    background: #f6f6f6;
}
