mat-toolbar {
    background-color: white;
    border: 1px #eeeded solid;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.example-spacer {
    flex: 1 1 auto;
}
.link {
    margin: 0 10px;
}
.link a {
    text-decoration: none;
    color: #860c86;
    font-size: 15px;
}
