mat-toolbar {
    background-color: white;
    border: 1px #eeeded solid;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.example-spacer {
    flex: 1 1 auto;
}
.link {
    margin: 0 10px;
}
.link a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
