<div class="container">
    <h2>Add Employee</h2>
    <form [formGroup]="employeeForm" (submit)="saveEmployee()">
        <div class="username">
            <div class="field">
                <mat-form-field appearance="outline">
                    <input matInput
                           formControlName="name"
                           placeholder="Name"
                    />
                </mat-form-field>
            </div>
            <div class="field">
                <mat-form-field appearance="outline">
                    <input matInput
                           formControlName="code"
                           placeholder="Code"
                    />
                </mat-form-field>
            </div>
        </div>
        <div class="username">
            <div class="field">
                <mat-form-field appearance="outline">
                    <input matInput
                           formControlName="salary"
                           placeholder="Salary"
                    />
                </mat-form-field>
            </div>
            <div class="field">
                <mat-form-field appearance="outline">
                    <input matInput
                           formControlName="mobile"
                           placeholder="Mobile"
                    />
                </mat-form-field>
            </div>
        </div>

        <div class="field">
            <mat-form-field appearance="outline">
                <mat-label>Select Department</mat-label>
                <mat-select formControlName="departmentId">
                    @for (department of departments; track department.id) {
                        <mat-option [value]="department.id">{{department.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div class="field">
            <mat-form-field appearance="outline">
                <input matInput
                       placeholder="State, City, Street"
                       (input)="onAddressInput($event)"
                />
            </mat-form-field>
        </div>
        <div class="field">
            <input
                type="file"
                #fileInput
                hidden
                accept="image/*"
                (change)="onFileSelected($event)"
            />
            <button mat-raised-button color="primary" (click)="fileInput.click()">
                <mat-icon>upload</mat-icon>
                Choose Image
            </button>
</div>

        <div>
            @if (uploadProgress >= 0) {
                <mat-progress-bar
                    mode="determinate"
                    [value]="uploadProgress"
                    style="margin-top: 16px">
                </mat-progress-bar>
            }
        </div>

        <button class="button" mat-flat-button>Save</button>
    </form>
</div>
<p>add-employee works!</p>
