mat-error {
    color: red;
}
h2 {
    color: #860c86
}
form {
    position: absolute;
    display: flex;
    width: 50%;
    flex-direction: column;
    background: white;
    padding: 40px 15px;
    height: 60%;
    top: 15%;
    border-radius: 10px;
    border: 1px #eeeded solid;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.username {
    display: flex;
    width: 100%;
}


.button {
    display: flex;
    text-align: left;
    height: 55px;
    border-radius: 3px;
    width: 100%
}
.button button {
    border: none;
    height: 50px;
}

mat-form-field {
    width: 100%;
}
.field {
    display: flex;
    width: 100%;
}
.container {
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;  /* center horizontally */
    background: white;
}
mat-form-field {
    border-radius: 10px !important;
}
.header {
    margin-bottom: 10px;
}
