/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: white}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.snack-success {
    background: #2e7d32;
    color: #fff;
}

.snack-error {
    background: #c62828;
    color: #fff;
}

.snack-info {
    background: #1565c0;
    color: #fff;
}
