mat-error {
    color: red;
}

.username {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
    width: 100%;
}

form {
    position: absolute;
    display: flex;
    width: 55%;
    flex-direction: column;
    background: white;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    height: 85%;
    top: 25%;
    border-radius: 3px;
    border: 1px #eeeded solid;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.button {
    display: flex;
    width: 100%;
}
.button button {
    width: 100%;
}
mat-form-field {
    width: 100%;
}
.field {
    display: flex;
    width: 100%;
}
.container {
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;  /* center horizontally */
    background: #f6f6f6;
}
mat-form-field {
    border-radius: 10px !important;
}
